
    <!-- footer nav -->
    <footer class="footer-nav">
        <nav>
            <ul class="list-unstyled">
                <li><a href="/"><img src="<%= asset_path("icons/i_home.png")%>" alt="icon_home"></a></li>
                <li><a href="/thinktanks"><img src="<%=asset_path("icons/i_comment.png")%>" alt="icon_comment"></a></li>
                <li><a href="/restaurants"><img src="<%=asset_path("icons/i_restaurant.png")%>" alt="icon_restaurant"></a></li>
                <li><a href="/pages/search"><img src="<%=asset_path("icons/i_search_footer.png")%>" alt="icon_search"></a></li>
            </ul>
        </nav>
    </footer>
    <!-- footer nav -->
