
<!-- main site -->
<section class="think-tank no-padding">

    <%= render "shared/header", h3_text: "RESTAURANTS" %>

    <!-- think tank inside post -->
    <div class="screen-inner">
        <div class="container">

            <!-- restaurants -->
            <div class="restaurants">
                <% Restaurant.all.each do |restaurant| %>
                <!-- restaurant link -->
                <div class="restaurant-link">
                    <div class="row">
                        <div class="col-md-12">
                            <%= link_to restaurant.name, restaurant, :class => "btn btn-large full" %>
                        </div>
                    </div>
                </div>
                <!-- .restaurant link -->
                <% end %>

            </div>
            <!-- .restaurants -->

        </div>
    </div>
    <!-- .think tank inside post -->

    <%= render "shared/footer_nav" %>

</section>
<!-- .main site -->

