<%= render "shared/header", h3_text: "BACK", back_link: "/restaurants/"+@special.restaurant.id.to_s %>

<section class="think-tank no-padding">
  <div class="screen-inner thinktank-show-page">
    <div class="container">
      <%= render 'form' %>
    </div>
  </div>
</section>
