<%= render "shared/header", h3_text: "BACK", back_link: restaurant_path(@restaurant) %>

<section class="think-tank no-padding">
  <div class="screen-inner thinktank-show-page">
    <div class="container">
      <%= render 'form' %>
    </div>
  </div>
  <%= render "shared/footer_nav" %>
</section>
