// Place all the styles related to the thinktanks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.commenter-image {
  max-width: 50px;
}



.thinktank-show-page input[type=submit] {
    border-radius: 2px;
    border: 0;

    zfont-family: Tahoma;
    background: #f4f4f4;
}


.red-delete {
  background-color: red !important;
  color: black !important;
}
