%ul.nav.navbar-nav
  %li
    %a.tws-logo.hidden-xs{:href => "/"}
      %img.hidden.img-responsive{:alt => "App Logo", :src => "#{image_path('logo.png')}", :width => "59"}/
  = render partial: 'layouts/partials/nav_links_menu'

